* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    padding: 20px;
}

nav {
    background-color: #333;
    padding: 10px;
    margin-bottom: 20px;
}

nav button {
    color: white;
    background-color: #333;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}

nav button:hover {
    background-color: #555;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
}

label, #sex-p {
    font-weight: bold;
    margin-top: 10px;
    display: block;
}

.sex-label {
    display: inline;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="number"],
input[type="range"],
input[type="date"] {
    width: 48%;
    display: inline-block;
    margin-right: 4%;
}

input[type="radio"] {
    width: 5%;
    margin-right: 5px;
}

.input-search {
    display: inline-block;
    width: 25%;
    margin-right: 30px;
}

.label-search {
    display: inline-block;
    margin-right: 323px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    cursor: pointer;
}

th:hover {
    background-color: #ddd;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

dialog {
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 600px;
    max-height: 800px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#btn-close-dialog-crimes {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 10px;
}

#btn-close-dialog-crimes:hover {
    background-color: darkred;
}

.btn-close {
    position: absolute;
    right: 0%;
    top: 0%;
}